@page "/virtualmachines"
@using PcpManagement.Core.Common
@using PcpManagement.Core.Models
@inherits GetAllVirtualMachinesPage


<div class="d-flex justify-end">
    <MudButton
        Variant="Variant.Filled"
        Size="Size.Medium"
        Color="Color.Tertiary"
        StartIcon="@Icons.Material.TwoTone.Add"
        Href="/virtualmachines/adicionar">
        NOVA MÁQUINA VIRTUAL
    </MudButton>
</div>

<MudDataGrid
    Class="d-flex flex-column flex-grow-1 gap-4"
    Height="calc(100vh - 13rem);"
    Filterable="true"
    QuickFilter="Filter"
    Hideable="true"
    T="Vm"
    Items="@VirtualMachines"
    ReadOnly="false"
    EditMode="DataGridEditMode.Form"
    Dense="true"
    Bordered="true"
    CommittedItemChanges="@OnCommittedItemChanges"
    RowsPerPage="@Configuration.DefaultPageSize"
    EditTrigger="@(DataGridEditTrigger.Manual)">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Máquinas Virtuais</MudText>
        <MudSpacer />
        <MudTextField
            @bind-Value="SearchTerm"
            Placeholder="Pesquisar..."
            Adornment="Adornment.Start"
            Immediate="true"
            AdornmentIcon="@Icons.Material.Filled.Search"
            IconSize="Size.Medium">
        </MudTextField>
    </ToolBarContent>
    <Columns>
        <TemplateColumn CellClass="d-flex justify-end">
            <CellTemplate>
                <MudMenu Icon="@Icons.Material.Outlined.Menu">
                    <MudIconButton
                        Icon="@Icons.Material.Filled.Edit"
                        Color="Color.Primary"
                        OnClick="@context.Actions.StartEditingItemAsync"/>
                    <MudIconButton
                        Icon="@Icons.Material.Filled.Delete"
                        Color="Color.Error"
                        OnClick="() => OnDeleteButtonClickedAsync(context.Item.Id, context.Item.Hostname)"/>
                </MudMenu>
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x => x.Id" Hidden="true" Class=".d-none" Editable="false"/>
        <PropertyColumn Property="x => x.Hostname" Required="true"/>
        <PropertyColumn Property="x => x.Ip" Required="true"/>
        <PropertyColumn Property="x => x.UserVm"/>
        <PropertyColumn Property="x => x.VCpu"/>
        <PropertyColumn Property="x => x.Memoria" Title="Memória"/>
        <PropertyColumn Property="x => x.Hd"/>
        <PropertyColumn Property="x => x.Ambiente"/>
        <PropertyColumn Property="x => x.Emprestimo"/>
        <PropertyColumn Property="x => x.Resolucao" Title="Resolução"/>
        <PropertyColumn Property="x => x.Enviroment"/>
        <PropertyColumn Property="x => x.SistemaOperacional" Title="Sistema Operacional"/>
        <PropertyColumn Property="x => x.Status"/>
        <PropertyColumn Property="x => x.Observacao" Title="Observação"/>
        <PropertyColumn Property="x => x.Funcionalidade"/>
        <PropertyColumn Property="x => x.Lote"/>
        <PropertyColumn Property="x => x.DataCenter"/>
        <PropertyColumn Property="x => x.Farm"/>
    </Columns>
</MudDataGrid>

